<h2><%= @book.title %></h2>
<p>Author: <%= @book.author %></p>
<p>Description: <%= @book.description %></p>
<div style="width:10%">
  <%= form_for :line_item, url: line_items_path do |f| %>
    Quantity: <%= f.text_field :quantity %>
    <%= f.hidden_field :book_id, value: @book.id %>
    <%= f.submit "Add to Cart" %>
  <% end %>
</div>
<p><%= link_to 'Home', :back %></p>

