<!DOCTYPE html>
<html>
<head>
  <title>Bookstore</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!-- <%= button_to 'Add to cart', line_items_path(book_id: @book) %> -->
</head>
<body>
  <div class='container'>
    <header>
      <a href="/books"><h1>Jessa's Bookstore</h1></a>
    </header>

    <div class='flash'>
      <% flash.each do |message_type, messages| %>
        <div class='alert alert-<%= bootstrap_alert_message_class_for(message_type) %>'>
          <ul class='<%= message_type %>'>
            <% [messages].flatten.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>

    <p class="alert"><%= alert %></p>

    <%= yield %>
  </div>
</body>
</html>
